NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=auth_secret

# Spotify OAuth - register at https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

NEXT_PUBLIC_DLP_CONTRACT_ADDRESS=0x3B826122C4EBc127cba30f1d69417743FE652B15
NEXT_PUBLIC_PROOF_URL=https://github.com/vana-com/dlp-proof-template/releases/download/v10/my-proof-10.tar.gz
PINATA_API_KEY=your_pinata_api_key_here
PINATA_API_SECRET=your_pinata_api_secret_here

NEXT_PUBLIC_CHAIN_ID=14800
NEXT_PUBLIC_RPC_URL=https://rpc.moksha.vana.org
